small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

b {
  text-shadow: 0px 0px 5px black, 0px 0px 3px black;
}

.center {
  text-align: center;
}

section {
  height: 100vh;
}

/* NAVIGATION */
nav {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {

  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.3s;
}

nav ul li a:hover {
  color: #555;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  height: 1px;
}

nav.stroke ul li a:hover:after {

  width: 100%;
}

nav.fill ul li a {
  transition: all 1s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {

  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}


div.a {
  transition: all 0.7s;

  border-style: solid;
  border-color: purple;
  border-width: 0;
  border-bottom-width:0.35rem;
  
  animation: 1s darkenNav;
  background-color: rgb(73, 67, 77);
}


div.a:hover {

  background-color: rgb(35, 32, 39);
  z-index: 1;
}



body {

 
  font-family: "Roboto", sans-serif;
  transition: all 1s;
  animation: 1s darkenBody;
  background-color: rgb(45, 46, 56);


}



/* Keyframes */

@keyframes darkenBody{
0%{
  background-color:  #FFF3CD;
}
100%{
  background-color: rgb(45, 46, 56);
}
}


@keyframes darkenNav{

0%{
  background-color:#ffcc70;
  border-color:#FFC107;

}
100%{
  background-color: rgb(35, 32, 39);
  border-color: purple;
}

}

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 4px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: purple;
    border-radius: 5px;
  }
}